.remote-control {
  border-radius: 4px;
  border: $primary-light solid 3px;
  width: 100px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 6px;
  padding-top: 6px;

  .remote-button {
    width: 15px !important;
    display: inline-block !important;
    padding: 5px;
  }

  .disabled {
    color: $secondary-dark;
    cursor: default;
  }
}